doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Portfolio Admin
    link(rel="stylesheet", href="/styles.css")
  body
    header
      nav.navbar
        .container
          a.logo(href="/") My Portfolio Admin
    main
      block content
    footer
      p © #{new Date().getFullYear()} Ragini Shirwalkar
